################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication1/.vs/WebApplication1/v15
/WebApplication1/WebApplication1/bin/Debug/netcoreapp1.1
/WebApplication1/WebApplication1/obj
